<!-- templates/events/password_reset_email.html -->

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Password Reset Requested</title>
</head>
<body>
    <p>Hi {{ user.username }},</p>

    <p>You're receiving this email because you requested a password reset for your account on EventSphere.</p>

    <p>Please click the link below to reset your password:</p>

    <p>
        <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}" 
           style="color: #0000EE; text-decoration: underline;">
            Reset Your Password
        </a>
    </p>

    <p>If you didn't request this, you can ignore this email.</p>

    <p>Thanks,<br>The EventSphere Team</p>
</body>
</html>
