<!-- templates/events/password_reset_confirm.html -->

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Set New Password | EventSphere</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <!-- Include any additional styling as needed -->
</head>
<body>
<div class="container">
    <div class="form-container">
        <div class="form-box">
            <h2>Set a New Password</h2>

            <!-- Display error messages -->
            {% if form.errors %}
                <div class="error-messages">
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="error-message">{{ error }}</div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <div class="error-message">{{ error }}</div>
                    {% endfor %}
                </div>
            {% endif %}

            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Change Password</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>
