<!-- templates/events/password_reset_done.html -->

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Reset Sent | EventSphere</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <!-- Include any additional styling as needed -->
</head>
<body>
<div class="container">
    <div class="form-container">
        <div class="form-box">
            <h2>Password Reset Sent</h2>
            <p>An email has been sent to your email address with instructions to reset your password.</p>
            <div class="link-text">
                <p>Didn't receive an email? <a href="{% url 'password_reset' %}">Try again</a>.</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>
