.idea/
**/.DS_Store
db.sqlite3
mydatabase
proj
.env
.venv
eventsphere/eventsphere/settings.py
__pycache__/
*.pyc
/admin_accessKeys.csv
/TravisCI_accessKeys.csv
/eventsphere/.coverage
/suprateek_accessKeys.csv
newenv/
/eventsphere/.xml
/dump.rdb
.coverage*